<h1>Zaloguj się jako:</h1>

<%= render 'form' %>
<nav>
  <%= link_to 'Czytelnik', login_reader_path %>
  <%= link_to 'Pracownik', login_employee_path %>
  <%= link_to 'Administrator', login_admin_path %>
<nav>