<h1> Witamy w panelu Administratora </h1>
<h1> Wyżej znajdują się odnośniki do każdej kategorii  </h1>
<p id="notice"><%= notice %></p>
<div class='show_data'>
  <p> Jako administrator możesz wyświetlać, tworzyć i usuwać rekordy bez ograniczeń. Przede wszystkim jako administrator dodajesz konta pracowników
      oraz stanowiska pracy. Generalnie na tej stronie możesz wszystko <i> No może prawie wszystko - nie możesz usunąć sobie konta, ani dodać konta
      innego administranora, takie uprawnienia ma tylko deweloper rozwijający stronę. </p>
</div>
<div class='show_data'>
  <%= image_tag('home_image.jpg', class: 'images') %>
</div>