<h1><%= "Witamy #{ current_user.name }"%></h1>
<h1> Dzięki Tobie codziennie się rozwijamy  </h1>
<p id="notice"><%= notice %></p>
<div class='show_data'>
  <%= image_tag('home_image.jpg', class: 'images') %>
</div>