<h1> <%= "#{current_user.imie}, dziękujemy, że jesteś z nami!" %></h1>
<h1> Wypożycz książkę </h1>
<p id="notice"><%= notice %></p>
<div class='show_data'>
  <%= image_tag('home_image.jpg', class: 'images') %>
</div>