<h1> Witamy na stronie biblioteki! </h1>
  <nav>
    <%= link_to 'Załóż konto czytelnika', new_reader_path %>
    <%= link_to 'Zaloguj się' %>
  </nav>
<div class='show_data'>
  <%= image_tag('home_image.jpg', class: 'images') %>
</div>