<nav style='text-align: center'>
  <%=link_to 'Storna główna'         , :root , class: 'home_button' %>
  <%=link_to 'Załóż konto czytelnika', :new_reader, class: 'log_button' %>
  <%=link_to 'Zaloguj się', :login, class: 'log_button' %>
</nav>